body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background: radial-gradient(circle, #393a3b 0%, #393535 100%);
  color: white;
  overflow: hidden;
  position: relative;
}

/* Permitir scroll en mobile */
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

body::before,
body::after {
  content: '';
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  border: 3px solid #5f5f5f;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: ripple 6s linear infinite;
  z-index: -1;
}

body::after {
  animation-delay: 3s;
}

@keyframes ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0.8;
  }
  70% {
    opacity: 0.2;
  }
  100% {
    width: 2000px;
    height: 2000px;
    opacity: 0;
  }
}
#tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
}

::selection {
  background: #ff9900;
  color: #111;
}

::-moz-selection {
  background: #ff9900;
  color: #111;
}